p{
	margin: 0;
}
a{
	text-decoration: none;
	color: white;
}


.body{
	width:80% ;
	background: #2A2C2F;
	margin: auto;
	color: white;
	font-family: "Inter", sans-serif;
}

.main{
	 
}
.main-title{
	font-size: clamp(1.875rem, 1.05rem + 4.125vw, 6rem);
	margin: auto;
	text-align: center;
	font-weight: 900;
	line-height: 100px;
	margin-bottom: 32px;
}
.main-text{
	width: 100%;
	margin: auto;
	text-align: center;
	/*КОМБО ДЛЯ ЛЮБОГО ТЕКСТА*/
	font-size: clamp(2rem, 1.5417rem + 2.2917vw, 3.375rem);
	font-weight: 400;
	line-height: 40px;
}
.main-image{
	width: 80%;
	margin-left: 10%;
	margin-bottom: 5%;
	margin-top: 64px;
}
.main-minitext{
	margin: 0;
	margin-top: 8px;
	font-size:10px ;
	font-weight: 300;
	line-height: 14px;
	letter-spacing: 1.5px;
	text-transform: uppercase;/*заглавный текст*/
	margin-bottom: 32px;
}
.header{
	margin: auto;
	margin-bottom: 56px;
	margin-top: 28px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.about {
  padding: 100px 48px; /* Отступы от краев */
  font-family: "Inter", Arial, sans-serif;
  margin: auto;
  
}

.about_title {
  font-size:45px;
  line-height: 1.1;
  font-weight: 900;
  margin: 0 0 40px;
  max-width: 700px;
}

.about_content {
  max-width: 700px;
  margin-bottom: 60px;
}

.about_paragraph {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 20px;
}

.about_stats {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 8px; 
}

.about_stat-item {
  font-size: 18px;
  line-height: 1.2;
}

.about_stat-item b {
  font-weight: bold;
  margin-left: 8px; 
}

.gallery{	
	margin: auto;
	display: grid;
	gap: 16px;
	grid-template-columns: repeat(auto-fill, minmax(230px, 1fr))
}
.places{
	margin: auto; 
}
.place{
	width: 100%;
	display: flex;
	justify-content: space-around ;
	align-items:center;
	margin-top: 80px;
}
.left_title{
	margin: 0;
	font-size: clamp(2rem, 1.1667rem + 4.1667vw, 4.5rem);
	font-weight: 900;
	line-height: 76px;
	margin-bottom: 35px;
}
.left{
	width: 100%;
}
.left_image{
  margin-bottom: 100px;
}
.place-hint{
	margin: 0;
	font-size: 12px;
	font-weight: 400;
	line-height: 12px;
	color: #AAAAAA;
	letter-spacing: 2px;
	margin-top: 106px;
	margin-bottom: 48px;
}
.place_link{
	margin: 0;
	font-size: 18px;
	font-weight: 400 ;
	line-height: 22px ;
	color: #FFFFFF ;
	margin-bottom:10px;
}
.place_text{
	margin: 0;
	font-size:18px ;
	font-weight: 400;
	line-height:163% ;
	color: white;
	margin-top: 100px;
}
.places{
	width: 100%;
}
.place{
 width: 100%;
 gap: 20px;
 margin-top: 20px;


}
.place-hint{
	margin: 0;
}
.place-hint:hover{
	cursor: pointer;
}
.baikal{
	width: 100%;
	height: 70vh;
	margin: auto;
	margin-top: 92px;
	background: url(tu.png);
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-size: cover;
}
.baikal_title{
	width: 80%;
	height: 80%;
	margin: 0;
	position: relative;
	z-index: 2;
	font-size: clamp(2rem, 1.1667rem + 4.1667vw, 4.5rem);
	font-weight: 900;
	line-height: 76px;
	width: 560px;
	height: 152px;
	margin-bottom: 32px;
	text-align: center;
	transition: 1s;

  

}
.text-preview {
  white-space: nowrap;      /* Запрещаем перенос на новую строку */
  overflow: hidden;         /* Прячем то, что не влезло */
}



.text-preview {
  white-space: nowrap;      /* Запрещаем перенос на новую строку */
  overflow: hidden;         /* Прячем то, что не влезло */
}
.overlay{
	width: 100%;
	height: 100%;
	background: black;
	position: absolute;
	top:0;
	left: 0;
	opacity: 0.3;
	z-index: 1;
	transition: 1s;
}

.overlay:hover{
	opacity: 0.6;
	cursor: progress;
	cursor: pointer;

}
.footer{
	width: 100%;
	margin: auto;
	display: flex;
	justify-content: space-between;
	margin-top: 92px;
}
@media (max-width: 768px) {

	.place{
		flex-direction: column;
	}
	.baikal{
		height: 30vh;
	}



	.footer{
		flex-direction: column;
	}
	.footer-links{
		display: flex;
		flex-direction: column;
	}
}
@media (max-width: 1024px) {



	
	

	.places{
		
	}

	.place{
		width: 100%;
		gap: 20px;
	}

	.place-hint{
		margin-top: 0;
	}
	.left_image{
		width: 35vw;
		font-size: clamp(2rem, 1.5rem + 2.5vw, 4.5rem);
	}
	
}
@media (max-width: 1280px) {
	.baikal{
		height: 50vh;
	}
}